workflows/MAX_autopost_with_video.json
{"updatedAt":"2026-02-13T18:34:16.891Z","createdAt":"2026-02-12T02:19:11.127Z","id":"P8k4WUwcsNTmZFFN","name":"MAX autopost with video","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-576,192],"id":"dfd503de-2206-4362-9a3b-4c94d3970d4a","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://platform-api.max.ru/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"-70960394824245"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2096,256],"id":"f4eed65b-26be-4350-a465-1778608bc414","name":"Send Message1","credentials":{"httpHeaderAuth":{"id":"EWKLZldey391MbFm","name":"MAX autopost"}}},{"parameters":{"method":"POST","url":"https://platform-api.max.ru/uploads","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"type","value":"={{ $json.mediaType }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[256,-32],"id":"2f5ee008-0def-4700-930d-9cdad352af05","name":"Узел A1","retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"httpHeaderAuth":{"id":"EWKLZldey391MbFm","name":"MAX autopost"}}},{"parameters":{"method":"POST","url":"={{$json.uploadUrl}}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"data","inputDataFieldName":"data"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1232,240],"id":"db1372a7-edc3-4d88-a464-970e0ccdfa0e","name":"Узел C1"},{"parameters":{"url":"={{ $json.url }}","options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,384],"id":"76b3e514-32f1-4353-8e67-871f987737e5","name":"Узел B1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[960,224],"id":"76b0425e-0f48-490d-bb30-1608f570c64d","name":"Merge1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// ВСТАВЬ СЮДА СВОЮ СТРОКУ (можно из поля/ячейки, но пока — константой)\nconst text = `в|https://storage.mwsapis.ru/auto-post/%D0%9D%D0%9E%D0%92%D0%9E%D0%A1%D0%98%D0%91%D0%98%D0%A0%D0%A1%D0%9A/%D0%92%D0%B0%D1%80%D0%B2%D1%8F%D0%BD%D1%81%D0%BA%D0%B8%D0%B9%20/102%20%D0%B2%D0%B0%D1%80%D0%B2%D1%8F%D0%BD%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BA%D1%80%D0%BE%D0%BB%D0%B8%D0%BA/2%20otzyv%20lyubi.mp4 ф|https://storage.mwsapis.ru/auto-post/%D0%9D%D0%9E%D0%92%D0%9E%D0%A1%D0%98%D0%91%D0%98%D0%A0%D0%A1%D0%9A/%D0%92%D0%B0%D1%80%D0%B2%D1%8F%D0%BD%D1%81%D0%BA%D0%B8%D0%B9%20/102%20%D0%B2%D0%B0%D1%80%D0%B2%D1%8F%D0%BD%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BA%D1%80%D0%BE%D0%BB%D0%B8%D0%BA/1%20%D1%82%D1%83%D1%88%D0%BA%D0%B0%20%D0%BA%D1%80%D0%BE%D0%BB%D0%B8%D0%BA%D0%B0%20%D1%81%20%D1%86%D0%B5%D0%BD%D0%BE%D0%B9.jpeg в|https://storage.mwsapis.ru/auto-post/%D0%9D%D0%9E%D0%92%D0%9E%D0%A1%D0%98%D0%91%D0%98%D0%A0%D0%A1%D0%9A/%D0%92%D0%B0%D1%80%D0%B2%D1%8F%D0%BD%D1%81%D0%BA%D0%B8%D0%B9%20/102%20%D0%B2%D0%B0%D1%80%D0%B2%D1%8F%D0%BD%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BA%D1%80%D0%BE%D0%BB%D0%B8%D0%BA/3%20%D0%B3%D0%BE%D1%82%D0%BE%D0%B2%D1%8B%D0%B9%20%D0%BA%D1%80%D0%BE%D0%BB%D0%B8%D0%BA.mp4 ф|https://storage.mwsapis.ru/auto-post/%D0%9D%D0%9E%D0%92%D0%9E%D0%A1%D0%98%D0%91%D0%98%D0%A0%D0%A1%D0%9A/%D0%92%D0%B0%D1%80%D0%B2%D1%8F%D0%BD%D1%81%D0%BA%D0%B8%D0%B9%20/102%20%D0%B2%D0%B0%D1%80%D0%B2%D1%8F%D0%BD%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BA%D1%80%D0%BE%D0%BB%D0%B8%D0%BA/4%20%D0%BA%D1%80%D0%BE%D0%BB%D0%B8%D0%BA%20%D0%B2%20%D1%81%D0%BA%D0%BE%D0%B2%D0%BE%D1%80%D0%BE%D0%B4%D0%BA%D0%B5.jpeg`;\n\nconst out = [];\nconst re = /(^|[\\s\\r\\n]+)\\+?\\s*([вфvf])\\|(\\S+)/gi;\n//проверка123\nlet m;\nlet idx = 0;\nwhile ((m = re.exec(text)) !== null) {\n  const prefix = m[2].toLowerCase();\n  const url = m[3];\n  const mediaType = (prefix === 'в' || prefix === 'v') ? 'video' : 'image';\n  out.push({ json: { idx, mediaType, url } });\n  idx++;\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,208],"id":"a53b5c6c-1bb1-4c68-bf76-0f431e2864b8","name":"Code in JavaScript"},{"parameters":{"jsCode":"// 4 ответа из C1 (c1[i].json.data = строка)\nconst c1 = $items('Узел C1');\n\n// 4 строки из Merge1 (idx, mediaType, ...)\nconst m1 = $items('Merge1');\n\n// 4 ответа из A1 (там token для video)\nconst a1 = $items('Узел A1');\n\nreturn c1.map((c, i) => {\n  const resp = String(c.json?.data ?? '');\n  const base = m1[i]?.json ?? {};\n  const a1token = a1[i]?.json?.token ?? null;\n\n  // VIDEO: токен берём из A1\n  if (base.mediaType === 'video') {\n    return {\n      json: {\n        idx: base.idx,\n        mediaType: base.mediaType,\n        token: a1token,\n      }\n    };\n  }\n\n  // IMAGE: токен вытаскиваем из строки ответа C1\n  let token = null;\n  const m = resp.match(/\"token\"\\s*:\\s*\"([^\"]+)\"/);\n  if (m) token = m[1];\n\n  return {\n    json: {\n      idx: base.idx,\n      mediaType: base.mediaType,\n      token,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,256],"id":"284939de-7f37-4bd7-b50d-be8642a59f3e","name":"Code in JavaScript1"},{"parameters":{"assignments":{"assignments":[{"id":"ba4a2eab-fa7e-4cee-864a-25eddcb9b65f","name":"uploadUrl","value":"={{$json.url}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-32],"id":"20154631-2ace-485f-a53e-3d1033bea136","name":"Edit Fields"},{"parameters":{"jsCode":"const items = $input.all().map(x => x.json);\n\n// порядок как в исходной строке\nitems.sort((a, b) => (a.idx ?? 0) - (b.idx ?? 0));\n\n// медиа-вложения\nconst mediaAttachments = items\n  .filter(x => x.token && x.mediaType)\n  .map(x => ({\n    type: x.mediaType,          // \"image\" или \"video\"\n    payload: { token: x.token }\n  }));\n\nreturn [{\n  json: {\n    text: \"Отчёт за день 📦\",\n    format: \"markdown\",\n    notify: true,\n    attachments: [\n      ...mediaAttachments,\n\n      // кнопки как inline_keyboard (как у тебя раньше)\n      {\n        type: \"inline_keyboard\",\n        payload: {\n          buttons: [\n            [{ type: \"link\", text: \"Открыть каталог\", url: \"https://koptorg.ru:7026\" }],\n            [{ type: \"link\", text: \"Сделать заказ\", url: \"https://koptorg.ru:7026\" }],\n          ]\n        }\n      }\n    ]\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,256],"id":"cdea60fa-935d-461d-aed0-3492b7f6e81c","name":"Code in JavaScript2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Узел A1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Узел C1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Узел B1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Узел C1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Узел A1","type":"main","index":0},{"node":"Узел B1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Send Message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"21051a59-6926-4701-935e-97ff68e43926","activeVersionId":null,"versionCounter":12,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-12T02:19:11.131Z","createdAt":"2026-02-12T02:19:11.131Z","role":"workflow:owner","workflowId":"P8k4WUwcsNTmZFFN","projectId":"pN1dQC2QTiUB8OxN","project":{"updatedAt":"2026-01-03T09:50:23.589Z","createdAt":"2026-01-02T11:57:57.457Z","id":"pN1dQC2QTiUB8OxN","name":"Ilya Sukharev <retail.sukharev@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"a8327288-747a-47c3-9f5f-b2070eff6d8c"}}]}