workflows/MAX_sending_n_media.json
{"updatedAt":"2026-02-11T18:25:10.499Z","createdAt":"2026-02-11T18:25:10.499Z","id":"TGyXdBFeqCMVQjAc","name":"MAX sending n media","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-272,-352],"id":"1a3cf000-8845-46b6-8739-c07420abb255","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://platform-api.max.ru/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"-70960394824245"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"f9LHodD0cOIrOKvR8Ce9CO249up2b9d1pJ-iF5OieiU3so5i0yTfmAmFw8WdhlFAykn4WfHG7XQHUBuUb6Iq"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"Отчёт за день 📦\",\n  \"format\": \"markdown\",\n  \"notify\": true,\n  \"attachments\": [\n    {\n      \"type\": \"image\",\n      \"payload\": {\n        \"token\": \"{{$json.photos.values().last().token }}\"\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[960,-336],"id":"b9ef0a7a-851b-406a-b9c8-2b417ee3d6d5","name":"Send Message"},{"parameters":{"method":"POST","url":"https://platform-api.max.ru/uploads","sendQuery":true,"queryParameters":{"parameters":[{"name":"type","value":"image"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"f9LHodD0cOIrOKvR8Ce9CO249up2b9d1pJ-iF5OieiU3so5i0yTfmAmFw8WdhlFAykn4WfHG7XQHUBuUb6Iq"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[144,-400],"id":"ab050fc2-f886-40f3-a270-904390743b92","name":"Узел A","retryOnFail":true,"maxTries":5,"waitBetweenTries":2000},{"parameters":{"method":"POST","url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Expect"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"data","inputDataFieldName":"data"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[640,-320],"id":"a559a72e-3984-44bb-83d0-92081bc554fc","name":"Узел C"},{"parameters":{"url":"https://storage.mwsapis.ru/auto-post/%D0%9D%D0%9E%D0%92%D0%9E%D0%A1%D0%98%D0%91%D0%98%D0%A0%D0%A1%D0%9A/%D0%A7%D0%B5%D1%87%D0%B5%D1%82%D0%BA%D0%B0/107%20%D0%BC%D1%80%D0%B0%D0%BC%D0%BE%D1%80%D0%BD%D0%B0%D1%8F%20%D0%B3%D0%BE%D0%B2%D1%8F%D0%B4%D0%B8%D0%BD%D0%B0/%D0%B0%D0%BD%D1%82%D1%80%D0%B5%D0%BA%D0%BE%D1%82%20%D0%B8%20%D0%BB%D0%BE%D0%BF%D0%B0%D1%82%D0%BA%D0%B0.jpg","options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[144,-192],"id":"0b15da10-6be4-4247-9bdd-466f1f26e0ed","name":"Узел B"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[416,-320],"id":"c08ddaa0-ba77-4f2d-a631-73813b7de782","name":"Merge","onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Узел A","type":"main","index":0},{"node":"Узел B","type":"main","index":0}]]},"Send Message":{"main":[[]]},"Узел A":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Узел B":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Узел C","type":"main","index":0}]]},"Узел C":{"main":[[{"node":"Send Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"82005a7f-fdff-4e44-8083-61efae5298c5","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-11T18:25:10.504Z","createdAt":"2026-02-11T18:25:10.504Z","role":"workflow:owner","workflowId":"TGyXdBFeqCMVQjAc","projectId":"pN1dQC2QTiUB8OxN","project":{"updatedAt":"2026-01-03T09:50:23.589Z","createdAt":"2026-01-02T11:57:57.457Z","id":"pN1dQC2QTiUB8OxN","name":"Ilya Sukharev <retail.sukharev@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"a8327288-747a-47c3-9f5f-b2070eff6d8c"}}]}