workflows/nYtWLQMPCPdUAsaT.json
{"updatedAt":"2026-01-21T06:15:01.770Z","createdAt":"2026-01-17T15:57:41.910Z","id":"nYtWLQMPCPdUAsaT","name":"Create Content Plan","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[2960,1776],"id":"436c3709-c0dd-42a0-a928-01c70f07cd10","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1FyEGxa6JYTJxDrowfgzAzroTM8L3CWCSY1rgI2DK9KQ","mode":"id"},"sheetName":{"__rl":true,"value":"POST","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3440,1776],"id":"c03bf4e1-2ad7-4a8d-969f-5e196a4c7236","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"b5DluHDjTyDAsQWd","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f85b46f7-7741-4bef-99c0-a6d3a7648197","leftValue":"={{ $json.status }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[3648,1840],"id":"f13de4b1-a969-43a4-b3d4-4ea21b102ceb","name":"Filter","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// n8n Code node: Build Content Plan\n// Сформировать /smmcontent/content-plan.json (items + stores_catalog + posts_catalog)\n// Поддерживает:\n//  - регулярные посты через schedule (DTSTART + RRULE)\n//  - разовые посты через publish_at (локальное время региона), если schedule пустой\n//  - показывает события начиная с 00:00 сегодняшнего дня (не от текущего времени)\n\n\n// ===== НАСТРОЙКИ =====\nconst DAYS_AHEAD = 14; // максимум 14\nconst REGION_TZ = {\n  54: \"Asia/Novosibirsk\",\n  82: \"Europe/Simferopol\",\n};\nconst REGION_FROM_TZ = {\n  7: 54, // Novosibirsk\n  3: 82, // Crimea\n};\n// =====================\n\n\n// --- parse schedule ---\nfunction parseSchedule(schedule) {\n  if (!schedule) return null;\n\n  const dt = schedule.match(/DTSTART:(\\d{4}-\\d{2}-\\d{2}) (\\d{2}:\\d{2}:\\d{2})/);\n  if (!dt) return null;\n\n  const rrule = schedule.match(/RRULE:([^\\n\\r]+)/);\n  const rule = rrule ? rrule[1].trim() : \"\";\n\n  const freq = (rule.match(/FREQ=([A-Z]+)/)?.[1] || \"\").toUpperCase();\n  const bydayRaw = rule.match(/BYDAY=([A-Z,]+)/)?.[1];\n  const byday = bydayRaw ? bydayRaw.split(\",\").map((s) => s.trim()) : null;\n\n  const dtstartDate = dt[1]; // YYYY-MM-DD\n  const dtstartTime = dt[2]; // HH:MM:SS\n\n  return { freq, byday, dtstartDate, dtstartTime };\n}\n\n\n// --- parse publish_at (локальный datetime) ---\n// Ожидаем: \"YYYY-MM-DD HH:MM:SS\" или \"YYYY-MM-DD HH:MM\"\nfunction parsePublishAtLocal(publish_at) {\n  const s = String(publish_at ?? \"\").trim();\n  if (!s) return null;\n\n  // 2026-01-18 09:00:00\n  let m = s.match(/^(\\d{4}-\\d{2}-\\d{2})\\s+(\\d{2}:\\d{2}:\\d{2})$/);\n  if (m) return { ymd: m[1], time: m[2] };\n\n  // 2026-01-18 09:00\n  m = s.match(/^(\\d{4}-\\d{2}-\\d{2})\\s+(\\d{2}:\\d{2})$/);\n  if (m) return { ymd: m[1], time: m[2] + \":00\" };\n\n  return null;\n}\n\n\n// --- TZ helpers (local-in-tz -> UTC ISO) ---\nfunction tzOffsetMinutesForUtc(utcDate, tz) {\n  const parts = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone: tz,\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    second: \"2-digit\",\n    hour12: false,\n  }).formatToParts(utcDate);\n\n  const map = {};\n  for (const p of parts) if (p.type !== \"literal\") map[p.type] = p.value;\n\n  const asUtc = Date.UTC(\n    Number(map.year),\n    Number(map.month) - 1,\n    Number(map.day),\n    Number(map.hour),\n    Number(map.minute),\n    Number(map.second)\n  );\n\n  return Math.round((asUtc - utcDate.getTime()) / 60000);\n}\n\nfunction localInTzToUtcIso(localY, localM, localD, hh, mm, ss, tz) {\n  const guessUtcMs = Date.UTC(localY, localM - 1, localD, hh, mm, ss);\n  const guessUtc = new Date(guessUtcMs);\n  const offMin = tzOffsetMinutesForUtc(guessUtc, tz);\n  const realUtcMs = guessUtcMs - offMin * 60000;\n  return new Date(realUtcMs).toISOString();\n}\n\nfunction ymdInTz(dateUtc, tz) {\n  return new Intl.DateTimeFormat(\"en-CA\", {\n    timeZone: tz,\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n  }).format(dateUtc); // YYYY-MM-DD\n}\n\nfunction addDaysYmd(ymd, add) {\n  const [y, m, d] = ymd.split(\"-\").map(Number);\n  const dt = new Date(Date.UTC(y, m - 1, d, 0, 0, 0));\n  dt.setUTCDate(dt.getUTCDate() + add);\n  const yy = dt.getUTCFullYear();\n  const mm = String(dt.getUTCMonth() + 1).padStart(2, \"0\");\n  const dd = String(dt.getUTCDate()).padStart(2, \"0\");\n  return `${yy}-${mm}-${dd}`;\n}\n\nfunction splitTime(dtstartTime) {\n  const [hh, mm, ss] = dtstartTime.split(\":\").map(Number);\n  return { hh, mm, ss };\n}\n\nfunction timeHHMM(dtstartTime) {\n  return dtstartTime.slice(0, 5);\n}\n\n\n// --- parse store_* columns from row ---\n// ожидаем колонки: store_195_Большевистская (значение 1 = включено)\nfunction extractSelectedStoreIdsFromRow(post) {\n  const ids = [];\n  for (const k of Object.keys(post)) {\n    const m = k.match(/^store_(\\d+)_/);\n    if (!m) continue;\n    const store_id = Number(m[1]);\n    const v = post[k];\n    const isOn = String(v).trim() === \"1\" || v === 1 || v === true;\n    if (isOn) ids.push(store_id);\n  }\n  ids.sort((a, b) => a - b);\n  return ids;\n}\n\nfunction boolOn(v) {\n  return String(v ?? \"\").trim() === \"1\" || v === 1 || v === true;\n}\n\nfunction safeString(v) {\n  return String(v ?? \"\").trim();\n}\n\nfunction toIntOrNull(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : null;\n}\n\n\n// -------------------- MAIN --------------------\nconst nowUtc = new Date();\n\n// posts берём из Filter (чтобы не путать с Append-барьером)\nconst posts = $items(\"Filter\").map((x) => x.json);\n\n// stores берём из Postgres-ноды\nconst storesRaw = $items(\"PG Stores\").map((x) => x.json);\n\n// Нормализуем stores\nconst storeById = new Map();\nconst storesByRegion = new Map(); // region -> stores[]\nfor (const s of storesRaw) {\n  const store_id = Number(s.store_id);\n  const name = safeString(s.store_description) || (\"#\" + store_id);\n  const time_zone = Number(s.time_zone);\n\n  const region = REGION_FROM_TZ[time_zone] ?? null;\n  const norm = { store_id, name, time_zone, region };\n\n  storeById.set(store_id, norm);\n\n  if (region !== null) {\n    if (!storesByRegion.has(region)) storesByRegion.set(region, []);\n    storesByRegion.get(region).push(norm);\n  }\n}\n\n// сортируем списки\nfor (const [r, arr] of storesByRegion.entries()) {\n  arr.sort((a, b) => a.store_id - b.store_id);\n}\n\n// stores_catalog только из Postgres (это “истина”)\nconst stores_catalog = Array.from(storeById.values())\n  .filter((s) => s.region !== null)\n  .sort((a, b) => a.store_id - b.store_id)\n  .map((s) => ({\n    store_id: s.store_id,\n    name: s.name,\n    region: s.region,\n    time_zone: s.time_zone,\n  }));\n\n// --- posts_catalog: контент постов для Telegram preview ---\nconst posts_catalog = {};\nfor (const p of posts) {\n  const pid = String(p.id ?? p.post_id ?? \"\").trim();\n  if (!pid) continue;\n  if (Number(p.status) !== 1) continue;\n\n  const title = safeString(p.title);\n  const text = String(p.text ?? \"\");\n  const parse_mode = toIntOrNull(p.parse_mode) ?? 0; // 0/plain, 1/HTML, 2/MarkdownV2\n  const media_url = String(p.media_url ?? \"\");\n\n  posts_catalog[pid] = {\n    title,\n    text,\n    parse_mode,\n    media_url,\n  };\n}\n\nconst outItems = [];\n\nfor (const p of posts) {\n  if (Number(p.status) !== 1) continue;\n\n  const region = Number(p.region);\n  const tz = REGION_TZ[region] || \"Europe/Moscow\";\n\n  // Определяем target store_ids для поста\n  let targetStoreIds = [];\n  const allRegionOn = boolOn(p.all_region);\n\n  if (allRegionOn) {\n    const allStores = storesByRegion.get(region) || [];\n    targetStoreIds = allStores.map((s) => s.store_id);\n  } else {\n    const selectedIds = extractSelectedStoreIdsFromRow(p);\n    targetStoreIds = selectedIds.filter((id) => storeById.has(Number(id)));\n  }\n\n  // today in region tz (YYYY-MM-DD) — стартуем от 00:00 сегодняшнего дня\n  const todayYmd = ymdInTz(nowUtc, tz);\n  const endYmd = addDaysYmd(todayYmd, DAYS_AHEAD - 1);\n\n  // --- 1) Регулярные посты по schedule ---\n  if (p.schedule) {\n    const sch = parseSchedule(p.schedule);\n    if (!sch) continue;\n\n    const { freq, byday, dtstartDate, dtstartTime } = sch;\n    const dtStartYmd = dtstartDate;\n    const { hh, mm, ss } = splitTime(dtstartTime);\n\n    for (let i = 0; i < DAYS_AHEAD; i++) {\n      const dayYmd = addDaysYmd(todayYmd, i);\n\n      // Skip days before DTSTART date\n      if (dayYmd < dtStartYmd) continue;\n\n      // Weekly filter\n      if (freq === \"WEEKLY\" && byday && byday.length) {\n        const noonUtc = new Date(\n          Date.UTC(\n            Number(dayYmd.slice(0, 4)),\n            Number(dayYmd.slice(5, 7)) - 1,\n            Number(dayYmd.slice(8, 10)),\n            12,\n            0,\n            0\n          )\n        );\n        const wd = new Intl.DateTimeFormat(\"en-US\", {\n          timeZone: tz,\n          weekday: \"short\",\n        })\n          .format(noonUtc)\n          .toUpperCase()\n          .slice(0, 2);\n        if (!byday.includes(wd)) continue;\n      } else if (freq === \"DAILY\") {\n        // ok\n      } else {\n        continue;\n      }\n\n      const [Y, M, D] = dayYmd.split(\"-\").map(Number);\n      const utcIso = localInTzToUtcIso(Y, M, D, hh, mm, ss, tz);\n\n      outItems.push({\n        kind: \"rrule\", // NEW\n        region,\n        tz,\n        post_id: p.id,\n        title: p.title,\n        local_dt: `${dayYmd} ${dtstartTime}`,\n        hhmm: timeHHMM(dtstartTime),\n        utc_iso: utcIso,\n        store_ids: targetStoreIds,\n      });\n    }\n\n    continue;\n  }\n\n  // --- 2) Разовые посты по publish_at (локальный datetime) ---\n  const pa = parsePublishAtLocal(p.publish_at);\n  if (!pa) continue;\n\n  // фильтр периода: только сегодня..+DAYS_AHEAD-1\n  if (pa.ymd < todayYmd || pa.ymd > endYmd) continue;\n\n  const { hh, mm, ss } = splitTime(pa.time);\n  const [Y, M, D] = pa.ymd.split(\"-\").map(Number);\n  const utcIso = localInTzToUtcIso(Y, M, D, hh, mm, ss, tz);\n\n  outItems.push({\n    kind: \"once\", // NEW\n    region,\n    tz,\n    post_id: p.id,\n    title: p.title,\n    local_dt: `${pa.ymd} ${pa.time}`,\n    hhmm: timeHHMM(pa.time),\n    utc_iso: utcIso,\n    store_ids: targetStoreIds,\n  });\n}\n\n// Sort by utc time\noutItems.sort((a, b) => new Date(a.utc_iso) - new Date(b.utc_iso));\n\nreturn [\n  {\n    json: {\n      generated_at_utc: new Date().toISOString(),\n      days_ahead: DAYS_AHEAD,\n      items: outItems,\n      stores_catalog,\n      posts_catalog,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4208,1744],"id":"4955bdb9-544a-4e50-a51a-d806e34fd038","name":"Build Content Plan"},{"parameters":{"operation":"toJson","options":{"fileName":"content-plan.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[4512,2016],"id":"1f3f938e-0cce-410e-a2df-71c43262515a","name":"Convert to File"},{"parameters":{"operation":"write","fileName":"/data/smmcontent/content-plan.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[5120,2016],"id":"fa0bd474-e89a-425f-aefe-f3d21ae0fff8","name":"Read/Write Files from Disk","onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  s.store_id,\n  s.store_description,\n  s.time_zone,\n  MAX(sc.channel_chat_id) AS channel_chat_id\nFROM coop.order_store s\nJOIN coop.store_channel sc\n  ON sc.store_id = s.store_id\nWHERE sc.channel_chat_id IS NOT NULL\n  AND s.time_zone IN (3, 7)\n  AND s.store_close_date IS NULL\nGROUP BY\n  s.store_id,\n  s.store_description,\n  s.time_zone\nORDER BY\n  s.time_zone,\n  s.store_id;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3776,2048],"id":"7e7c1e20-a8fe-4de8-98d8-12d1efef2918","name":"PG Stores","credentials":{"postgres":{"id":"Nn7xJ9wkuFYHFyvT","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3984,1840],"id":"ae6a261e-7de4-4160-9e27-ad0b2805b43f","name":"Barrier: Posts + Stores"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[2992,2112],"id":"956d1c41-ee00-4d6b-9cbb-e67381c5a2a3","name":"Schedule Trigger"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      html: `<!doctype html>\n<html lang=\"ru\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n  <title>Контент-план</title>\n  <style>\n    :root{\n      --border:#e6e6e6;\n      --head:#f6f6f6;\n      --muted:#666;\n      --bg:#fff;\n      --card:#ffffff;\n      --cardBorder:#efefef;\n      --errorBg:#fff0f0;\n      --errorBorder:#f2bcbc;\n      --errorText:#b00;\n      --chipBg:#f3f3f3;\n      --chipBorder:#e2e2e2;\n      --shadow: 0 10px 24px rgba(0,0,0,0.08);\n      --hoverRing: 0 0 0 3px rgba(0,0,0,0.14);\n\n      --overlay: rgba(0,0,0,0.46);\n      --tgBg: #0b141b;\n      --tgCard: #17212b;\n      --tgCard2: #1f2c3a;\n      --tgText: #e9eef5;\n      --tgMuted: rgba(233,238,245,0.68);\n      --tgBorder: rgba(255,255,255,0.08);\n    }\n\n    *{box-sizing:border-box;}\n    body{\n      font-family:system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;\n      margin:16px;\n      background:var(--bg);\n      color:#111;\n    }\n    h2{margin:0 0 12px 0}\n\n    .row{\n      display:flex;\n      gap:12px;\n      flex-wrap:wrap;\n      align-items:center;\n      margin-bottom:12px;\n    }\n    .muted{color:var(--muted); font-size:12px;}\n\n    select,input[type=\"date\"],button{\n      padding:6px 10px;\n      font-size:14px;\n      border:1px solid var(--border);\n      border-radius:10px;\n      background:#fff;\n    }\n    button{cursor:pointer;}\n    button:active{transform:translateY(1px);}\n\n    /* Верхняя панель */\n    .topBar{\n      position:sticky;\n      top:0;\n      z-index:100;\n      background:rgba(255,255,255,0.92);\n      backdrop-filter:saturate(180%) blur(10px);\n      border:1px solid var(--border);\n      border-radius:14px;\n      padding:10px 12px;\n      box-shadow:0 6px 18px rgba(0,0,0,0.04);\n      margin-bottom:12px;\n    }\n    .topBar .row{margin-bottom:0}\n\n    .storesPanel{\n      border:1px solid var(--border);\n      border-radius:14px;\n      padding:10px 12px;\n      margin:8px 0 12px 0;\n      background:#fff;\n    }\n    .storesTop{\n      display:flex;\n      gap:10px;\n      align-items:center;\n      flex-wrap:wrap;\n      margin-bottom:8px;\n    }\n    .storesTitle{font-weight:700;margin-right:6px;}\n    .storesActions{display:flex;gap:8px;flex-wrap:wrap;}\n    .storesList{\n      display:flex;\n      flex-wrap:wrap;\n      gap:10px 14px;\n      max-height:160px;\n      overflow:auto;\n      padding-right:6px;\n    }\n    .storeItem{\n      display:flex;\n      align-items:center;\n      gap:8px;\n      white-space:nowrap;\n      font-size:13px;\n    }\n    .storeItem input{transform:translateY(1px);}\n\n    .tableWrap{\n      overflow-x:auto;\n      border:1px solid var(--border);\n      border-radius:14px;\n      background:#fff;\n      position:relative;\n      z-index:1;\n    }\n    table{\n      border-collapse:separate;\n      border-spacing:0;\n      width:max-content;\n      min-width:100%;\n      table-layout:fixed;\n      background:#fff;\n    }\n    th,td{\n      border-right:1px solid var(--border);\n      border-bottom:1px solid var(--border);\n      vertical-align:top;\n      padding:6px;\n      font-size:13px;\n      min-width:220px;\n    }\n\n    /* ✅ Заголовки дней НЕ липкие */\n    th{\n      background:var(--head);\n      text-align:center;\n      position:static;\n      z-index:auto;\n    }\n\n    /* левый столбец времени остаётся липким */\n    th:first-child, td:first-child{\n      position:sticky;\n      left:0;\n      z-index:6;\n      background:#fff;\n      min-width:72px;\n      width:72px;\n      text-align:center;\n      font-weight:600;\n    }\n    thead th:first-child{\n      background:var(--head);\n      z-index:7;\n      left:0;\n    }\n\n    .colHead{display:flex;flex-direction:column;gap:2px;align-items:center;line-height:1.1;}\n    .colDow{font-weight:800;letter-spacing:0.2px;}\n    .colDate{font-size:12px;color:var(--muted);font-weight:600;}\n\n    .item{\n      margin:0 0 6px 0;\n      padding:8px;\n      border:1px solid var(--cardBorder);\n      border-radius:12px;\n      background:var(--card);\n      position:relative;\n      transition: box-shadow 120ms ease, transform 120ms ease, border-color 120ms ease;\n      cursor:pointer;\n      z-index:1;\n    }\n    .item:last-child{margin-bottom:0}\n    .itemTitle{font-weight:800; line-height:1.2;}\n    .itemMeta{color:var(--muted); font-size:12px; margin-top:2px}\n    .itemChip{\n      display:inline-block;\n      margin-top:8px;\n      padding:3px 9px;\n      font-size:12px;\n      border-radius:999px;\n      background:var(--chipBg);\n      border:1px solid var(--chipBorder);\n      color:#222;\n    }\n    /* Разовые посты: другой вид овала */\n    .itemChip.once{\n      background:transparent;\n      border:1px dashed rgba(0,0,0,0.35);\n      color:#111;\n    }\n\n    .item.pid-colored{\n      background: hsla(var(--pid-h), 85%, 94%, 1);\n      border-color: hsla(var(--pid-h), 50%, 45%, 0.28);\n    }\n\n    .item:hover{\n      z-index:20;\n      box-shadow: var(--hoverRing), 0 10px 24px rgba(0,0,0,0.10);\n      transform: translateY(-1px);\n      border-color: hsla(var(--pid-h), 55%, 35%, 0.55);\n    }\n    .item.pid-hover{\n      z-index:20;\n      box-shadow: var(--hoverRing), 0 10px 24px rgba(0,0,0,0.10);\n      transform: translateY(-1px);\n      border-color: hsla(var(--pid-h), 55%, 35%, 0.55);\n    }\n\n    .error{\n      white-space:pre-wrap;\n      color:var(--errorText);\n      background:var(--errorBg);\n      padding:12px;\n      border:1px solid var(--errorBorder);\n      border-radius:10px;\n    }\n\n    /* === Telegram preview modal === */\n    .modal{\n      position:fixed;\n      inset:0;\n      background:var(--overlay);\n      display:none;\n      align-items:center;\n      justify-content:center;\n      padding:16px;\n      z-index:100000;\n    }\n    .modal.open{display:flex;}\n    .modalCard{\n      width:min(720px, 100%);\n      max-height:min(92vh, 900px);\n      background:var(--tgBg);\n      border:1px solid rgba(255,255,255,0.10);\n      border-radius:18px;\n      box-shadow:0 24px 80px rgba(0,0,0,0.55);\n      overflow:hidden;\n      display:flex;\n      flex-direction:column;\n    }\n    .modalTop{\n      display:flex;\n      align-items:center;\n      justify-content:space-between;\n      padding:10px 12px;\n      background:rgba(255,255,255,0.04);\n      border-bottom:1px solid rgba(255,255,255,0.08);\n    }\n    .modalTitle{\n      color:var(--tgText);\n      font-weight:800;\n      font-size:14px;\n      display:flex;\n      gap:10px;\n      align-items:center;\n      min-width:0;\n    }\n    .modalTitle .sub{\n      color:var(--tgMuted);\n      font-weight:700;\n      font-size:12px;\n      white-space:nowrap;\n      overflow:hidden;\n      text-overflow:ellipsis;\n    }\n    .modalClose{\n      border:1px solid rgba(255,255,255,0.12);\n      background:rgba(255,255,255,0.06);\n      color:var(--tgText);\n      border-radius:10px;\n      padding:6px 10px;\n      cursor:pointer;\n      font-weight:800;\n    }\n    .modalBody{\n      padding:14px;\n      overflow:auto;\n    }\n    .tgMessage{\n      background:var(--tgCard);\n      border:1px solid var(--tgBorder);\n      border-radius:18px;\n      padding:12px;\n      color:var(--tgText);\n      max-width:560px;\n    }\n    .tgMetaRow{\n      display:flex;\n      align-items:center;\n      justify-content:space-between;\n      margin-bottom:8px;\n      gap:10px;\n    }\n    .tgChannel{\n      font-weight:900;\n      font-size:13px;\n      color:#8bd1ff;\n    }\n    .tgTime{\n      font-size:12px;\n      color:var(--tgMuted);\n      font-weight:700;\n      white-space:nowrap;\n    }\n    .tgText{\n      white-space:pre-wrap;\n      word-break:break-word;\n      font-size:14px;\n      line-height:1.35;\n    }\n    .tgMedia{\n      margin-top:10px;\n      display:grid;\n      gap:8px;\n    }\n    .tgMedia.one{grid-template-columns:1fr;}\n    .tgMedia.grid{grid-template-columns:1fr 1fr;}\n    .tgMediaItem{\n      background:var(--tgCard2);\n      border:1px solid var(--tgBorder);\n      border-radius:14px;\n      overflow:hidden;\n      position:relative;\n    }\n    .tgMediaItem img, .tgMediaItem video{\n      display:block;\n      width:100%;\n      height:auto;\n      max-height:360px;\n      object-fit:cover;\n      background:#000;\n    }\n    .tgBadge{\n      position:absolute;\n      left:10px;\n      top:10px;\n      padding:4px 8px;\n      font-size:12px;\n      border-radius:999px;\n      background:rgba(0,0,0,0.55);\n      border:1px solid rgba(255,255,255,0.18);\n      color:var(--tgText);\n      font-weight:900;\n    }\n    .tgErr{\n      margin-top:10px;\n      padding:10px;\n      border-radius:12px;\n      background:rgba(255,0,0,0.12);\n      border:1px solid rgba(255,0,0,0.22);\n      color:var(--tgText);\n      font-size:13px;\n      white-space:pre-wrap;\n    }\n\n    /* Tooltip портальный, без полосы прокрутки */\n    .portalTip{\n      position:fixed;\n      width:min(520px, 86vw);\n      background:#fff;\n      border:1px solid rgba(0,0,0,0.10);\n      border-radius:14px;\n      box-shadow: 0 18px 50px rgba(0,0,0,0.14);\n      padding:12px 12px 10px 12px;\n      z-index:200000;\n      display:none;\n    }\n    .portalTip.show{display:block;}\n    .portalTip::before{\n      content:\"\";\n      position:absolute;\n      top:-7px;\n      left:20px;\n      width:14px;\n      height:14px;\n      background:#fff;\n      border-left:1px solid rgba(0,0,0,0.10);\n      border-top:1px solid rgba(0,0,0,0.10);\n      transform:rotate(45deg);\n    }\n    .portalTipTitle{\n      font-weight:900;\n      margin-bottom:8px;\n      font-size:13px;\n      display:flex;\n      justify-content:space-between;\n      gap:10px;\n      align-items:center;\n    }\n    .portalTipCount{\n      font-size:12px;\n      color:var(--muted);\n      font-weight:700;\n    }\n    .portalTipList{\n      margin:0;\n      padding:0;\n      list-style:none;\n      display:flex;\n      flex-direction:column;\n      gap:6px;\n      /* ✅ без скролла */\n      max-height:none;\n      overflow:visible;\n    }\n    .portalTipList li{\n      font-size:12px;\n      color:#111;\n      line-height:1.35;\n      padding:6px 8px;\n      border:1px solid rgba(0,0,0,0.06);\n      border-radius:10px;\n      background:rgba(0,0,0,0.02);\n    }\n    .portalTipHint{font-size:12px;color:var(--muted);margin-top:10px;}\n\n    @media (max-width: 520px){\n      .topBar{ border-radius:12px; }\n      .tgMessage{ max-width:100%; }\n      .tgMedia.grid{ grid-template-columns:1fr; }\n    }\n  \n    /* === Mobile accordion (days) === */\n    .mobileAcc{display:none;}\n    .accDay{border:1px solid var(--border); border-radius:14px; background:#fff; overflow:hidden; margin:0 0 10px 0;}\n    .accHead{\n      display:flex; align-items:center; justify-content:space-between; gap:10px;\n      padding:12px 12px;\n      cursor:pointer;\n      user-select:none;\n    }\n    .accHeadLeft{display:flex; flex-direction:column; gap:2px; line-height:1.1;}\n    .accDow{font-weight:900; letter-spacing:0.2px;}\n    .accDate{font-size:12px; color:var(--muted); font-weight:700;}\n    .accChevron{\n      width:28px; height:28px;\n      display:flex; align-items:center; justify-content:center;\n      border:1px solid rgba(0,0,0,0.10);\n      border-radius:10px;\n      background:rgba(0,0,0,0.02);\n      transition: transform 160ms ease;\n      flex:0 0 auto;\n    }\n    .accDay.open .accChevron{ transform: rotate(180deg); }\n    .accBody{display:none; padding:10px 10px 12px 10px;}\n    .accDay.open .accBody{display:block;}\n    .accTime{margin:0 0 10px 0;}\n    .accTime:last-child{margin-bottom:0;}\n    .accTimeHead{\n      font-weight:900;\n      font-size:13px;\n      color:#111;\n      padding:4px 6px;\n      border-radius:10px;\n      display:inline-block;\n      background:rgba(0,0,0,0.03);\n      border:1px solid rgba(0,0,0,0.06);\n      margin:2px 0 8px 0;\n    }\n    .accItems{display:flex; flex-direction:column; gap:8px;}\n    .accItems .item{ margin:0; } /* keep existing item style, just remove table spacing */\n\n    @media (max-width: 900px){\n      body{ margin:12px; }\n      .storesList{ max-height: 240px; }\n      .tableWrap{ display:none; }\n      .mobileAcc{ display:block; }\n    }\n\n  </style>\n</head>\n<body>\n\n<div class=\"topBar\">\n  <h2>Контент-план</h2>\n\n  <div class=\"row\">\n    <div class=\"muted\">\n      Обновлено: <span id=\"gen\">—</span>, горизонт файла: <span id=\"daysFile\">—</span> дн.\n    </div>\n\n    <label>\n      Регион:\n      <select id=\"region\"></select>\n    </label>\n\n    <label>\n      Старт:\n      <input id=\"startDate\" type=\"date\" />\n    </label>\n\n    <label>\n      Период:\n      <select id=\"period\"></select>\n    </label>\n\n    <button id=\"btnToday\" type=\"button\">Сегодня</button>\n  </div>\n</div>\n\n<div class=\"storesPanel\">\n  <div class=\"storesTop\">\n    <span class=\"storesTitle\">Пункты выдачи</span>\n    <span class=\"muted\" id=\"storesHint\">—</span>\n    <div class=\"storesActions\">\n      <button type=\"button\" id=\"btnAll\">Выбрать все</button>\n      <button type=\"button\" id=\"btnNone\">Снять все</button>\n    </div>\n  </div>\n  <div class=\"storesList\" id=\"storesList\"></div>\n</div>\n\n<div id=\"wrap\"></div>\n\n<!-- Portal Tooltip -->\n<div class=\"portalTip\" id=\"portalTip\">\n  <div class=\"portalTipTitle\">\n    <span>Пункты выдачи</span>\n    <span class=\"portalTipCount\" id=\"ptCount\">—</span>\n  </div>\n  <ul class=\"portalTipList\" id=\"ptList\"></ul>\n  <div class=\"portalTipHint\">Наведи — подсветятся все такие же посты · клик — откроется превью Telegram</div>\n</div>\n\n<!-- Telegram preview modal -->\n<div class=\"modal\" id=\"modal\">\n  <div class=\"modalCard\" role=\"dialog\" aria-modal=\"true\">\n    <div class=\"modalTop\">\n      <div class=\"modalTitle\">\n        <span id=\"mTitle\">Превью Telegram</span>\n        <span class=\"sub\" id=\"mSub\">—</span>\n      </div>\n      <button class=\"modalClose\" id=\"mClose\" type=\"button\">Закрыть</button>\n    </div>\n    <div class=\"modalBody\">\n      <div class=\"tgMessage\">\n        <div class=\"tgMetaRow\">\n          <div class=\"tgChannel\">Коопторгъ</div>\n          <div class=\"tgTime\" id=\"mTime\">—</div>\n        </div>\n\n        <div class=\"tgText\" id=\"mText\">—</div>\n\n        <div class=\"tgMedia one\" id=\"mMedia\" style=\"display:none;\"></div>\n\n        <div class=\"tgErr\" id=\"mErr\" style=\"display:none;\"></div>\n      </div>\n    </div>\n  </div>\n</div>\n\n<script>\n(async () => {\n  const DAY_TITLES = ['ВС','ПН','ВТ','СР','ЧТ','ПТ','СБ']; // JS: 0=Sun\n  const pad2 = (n) => String(n).padStart(2,'0');\n\n  function escapeHtml(s){\n    return String(s ?? '').replace(/[&<>\"']/g, c =>\n      ({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[c])\n    );\n  }\n\n  function ymdFromDateLocal(d){\n    return d.getFullYear() + '-' + pad2(d.getMonth()+1) + '-' + pad2(d.getDate());\n  }\n\n  function parseYmdToDateLocal(ymd){\n    const [y,m,d] = ymd.split('-').map(Number);\n    return new Date(y, m-1, d, 0, 0, 0, 0);\n  }\n\n  function addDaysLocal(ymd, add){\n    const dt = parseYmdToDateLocal(ymd);\n    dt.setDate(dt.getDate() + add);\n    return ymdFromDateLocal(dt);\n  }\n\n  function ddmmyyyy(ymd){\n    return ymd.slice(8,10) + '.' + ymd.slice(5,7) + '.' + ymd.slice(0,4);\n  }\n\n  function ddmm(ymd){\n    return ymd.slice(8,10) + '.' + ymd.slice(5,7);\n  }\n\n  function dowRuFromYmd(ymd){\n    const dt = parseYmdToDateLocal(ymd);\n    return DAY_TITLES[dt.getDay()];\n  }\n\n  function getItemDateYmd(it){\n    if (it && typeof it.local_dt === 'string' && it.local_dt.length >= 10) {\n      return it.local_dt.slice(0,10);\n    }\n    const iso = it.utc_iso || it.datetime;\n    if (iso) {\n      const dt = new Date(iso);\n      if (!isNaN(dt)) return ymdFromDateLocal(dt);\n    }\n    return null;\n  }\n\n  function getItemTimeHHMM(it){\n    if (it && typeof it.hhmm === 'string' && it.hhmm.length === 5) return it.hhmm;\n    if (it && typeof it.local_time === 'string' && it.local_time.length >= 5) return it.local_time.slice(0,5);\n    if (it && typeof it.local_dt === 'string' && it.local_dt.length >= 16) return it.local_dt.slice(11,16);\n    const iso = it.utc_iso || it.datetime;\n    if (iso) {\n      const dt = new Date(iso);\n      if (!isNaN(dt)) return pad2(dt.getHours()) + ':' + pad2(dt.getMinutes());\n    }\n    return null;\n  }\n\n  function intersectStoreIds(itemStoreIds, selectedIdsSet){\n    if (!Array.isArray(itemStoreIds) || itemStoreIds.length === 0) return false;\n    for (const id of itemStoreIds) {\n      if (selectedIdsSet.has(Number(id))) return true;\n    }\n    return false;\n  }\n\n  function hueFromPostId(postId){\n    const str = String(postId ?? '');\n    let h = 0;\n    for (let i = 0; i < str.length; i++) h = (h * 31 + str.charCodeAt(i)) >>> 0;\n    return h % 360;\n  }\n\n  function parseMediaLines(mediaUrl){\n    const lines = String(mediaUrl ?? '')\n      .split(/\\\\r?\\\\n/)\n      .map(s => s.trim())\n      .filter(Boolean);\n\n    const out = [];\n    for (const ln of lines) {\n      if (ln.includes('|')) {\n        const [k, ...rest] = ln.split('|');\n        const url = rest.join('|').trim();\n        const key = (k || '').trim().toLowerCase();\n        if (!url) continue;\n        if (key === 'в' || key === 'video') out.push({ type:'video', url });\n        else out.push({ type:'photo', url });\n      } else {\n        out.push({ type:'photo', url: ln });\n      }\n    }\n    return out;\n  }\n\n  function formatTextByParseMode(text, parseMode){\n    return String(text ?? '');\n  }\n\n  // ---- load json\n  let raw;\n  try {\n    raw = await fetch('/smmcontent/content-plan.json?_=' + Date.now(), { cache: 'no-store' }).then(r => r.json());\n  } catch (e) {\n    document.getElementById('wrap').innerHTML =\n      '<div class=\"error\">Не удалось загрузить /smmcontent/content-plan.json\\\\n' + escapeHtml(e) + '</div>';\n    return;\n  }\n\n  const data =\n    Array.isArray(raw) ? (raw[0]?.data ?? raw[0]) : (raw?.data ?? raw);\n\n  if (!data || !data.generated_at_utc || !Array.isArray(data.items)) {\n    document.getElementById('wrap').innerHTML =\n      '<div class=\"error\">' +\n      'Ошибка формата content-plan.json.\\\\n\\\\n' +\n      'Нужно: { generated_at_utc, days_ahead, items[] }\\\\n\\\\n' +\n      'Фактически:\\\\n' +\n      escapeHtml(JSON.stringify(raw, null, 2).slice(0, 1500)) +\n      '</div>';\n    return;\n  }\n\n  document.getElementById('gen').textContent =\n    String(data.generated_at_utc).replace('T',' ').slice(0,19) + ' UTC';\n  document.getElementById('daysFile').textContent = data.days_ahead;\n\n  const itemsAll = data.items;\n  const storesCatalogAll = Array.isArray(data.stores_catalog) ? data.stores_catalog : [];\n  const postsCatalog = (data.posts_catalog && typeof data.posts_catalog === 'object') ? data.posts_catalog : {};\n\n  const storeById = new Map();\n  for (const s of storesCatalogAll) {\n    storeById.set(Number(s.store_id), {\n      store_id: Number(s.store_id),\n      name: String(s.name ?? '').trim() || ('#' + s.store_id),\n      region: Number(s.region),\n    });\n  }\n\n  const regionSel = document.getElementById('region');\n  const startInput = document.getElementById('startDate');\n  const periodSel = document.getElementById('period');\n  const btnToday = document.getElementById('btnToday');\n\n  const storesListEl = document.getElementById('storesList');\n  const storesHintEl = document.getElementById('storesHint');\n  const btnAll = document.getElementById('btnAll');\n  const btnNone = document.getElementById('btnNone');\n\n  // portal tip\n  const portalTip = document.getElementById('portalTip');\n  const ptCount = document.getElementById('ptCount');\n  const ptList = document.getElementById('ptList');\n  let tipHideTimer = null;\n\n  function hidePortalTip(){\n    portalTip.classList.remove('show');\n  }\n  function scheduleHideTip(){\n    clearTimeout(tipHideTimer);\n    tipHideTimer = setTimeout(() => hidePortalTip(), 80);\n  }\n  function cancelHideTip(){\n    clearTimeout(tipHideTimer);\n  }\n  portalTip.addEventListener('mouseenter', cancelHideTip);\n  portalTip.addEventListener('mouseleave', scheduleHideTip);\n\n  // modal\n  const modal = document.getElementById('modal');\n  const mClose = document.getElementById('mClose');\n  const mSub = document.getElementById('mSub');\n  const mTime = document.getElementById('mTime');\n  const mText = document.getElementById('mText');\n  const mMedia = document.getElementById('mMedia');\n  const mErr = document.getElementById('mErr');\n\n  function openModal(){ modal.classList.add('open'); }\n  function closeModal(){ modal.classList.remove('open'); }\n  mClose.addEventListener('click', closeModal);\n  modal.addEventListener('click', (e) => { if (e.target === modal) closeModal(); });\n  window.addEventListener('keydown', (e) => { if (e.key === 'Escape') closeModal(); });\n\n  periodSel.innerHTML = Array.from({length:14}, (_,i)=>i+1)\n    .map(n => '<option value=\"'+n+'\">'+n+' дн.</option>')\n    .join('');\n  periodSel.value = '14';\n\n  const regions = Array.from(new Set(itemsAll.map(x => x.region))).sort((a,b)=>a-b);\n  regionSel.innerHTML = regions.map(r => '<option value=\"'+r+'\">'+r+'</option>').join('');\n  regionSel.value = String(regions[0] ?? '');\n\n  const todayYmd = ymdFromDateLocal(new Date());\n  startInput.value = todayYmd;\n\n  btnToday.addEventListener('click', () => {\n    startInput.value = ymdFromDateLocal(new Date());\n    render();\n  });\n\n  regionSel.addEventListener('change', () => {\n    rebuildStoresUI();\n    render();\n  });\n\n  startInput.addEventListener('change', render);\n  periodSel.addEventListener('change', render);\n\n  btnAll.addEventListener('click', () => {\n    for (const cb of storesListEl.querySelectorAll('input[type=\"checkbox\"]')) cb.checked = true;\n    render();\n  });\n\n  btnNone.addEventListener('click', () => {\n    for (const cb of storesListEl.querySelectorAll('input[type=\"checkbox\"]')) cb.checked = false;\n    render();\n  });\n\n  storesListEl.addEventListener('change', render);\n\n  function getSelectedStoreIds(){\n    const ids = [];\n    for (const cb of storesListEl.querySelectorAll('input[type=\"checkbox\"]')) {\n      if (cb.checked) ids.push(Number(cb.value));\n    }\n    return ids;\n  }\n\n  function rebuildStoresUI(){\n    const region = Number(regionSel.value);\n\n    const stores = storesCatalogAll\n      .filter(s => Number(s.region) === region)\n      .map(s => ({ store_id: Number(s.store_id), name: String(s.name ?? '').trim() || ('#' + s.store_id) }))\n      .sort((a,b)=>a.store_id-b.store_id);\n\n    storesListEl.innerHTML = stores.map(s => {\n      const id = Number(s.store_id);\n      const name = escapeHtml(s.name);\n      return '<label class=\"storeItem\">' +\n        '<input type=\"checkbox\" value=\"'+id+'\" checked />' +\n        '<span>'+name+'</span>' +\n      '</label>';\n    }).join('');\n\n    storesHintEl.textContent = stores.length ? ('в регионе: ' + stores.length) : 'в регионе: 0';\n  }\n\n  function showPortalTipForItem(itemEl, storeNamesArr){\n    const rect = itemEl.getBoundingClientRect();\n\n    ptCount.textContent = String(storeNamesArr.length);\n\n    ptList.innerHTML = (storeNamesArr.length ? storeNamesArr : ['—'])\n      .map(n => '<li>' + escapeHtml(n) + '</li>')\n      .join('');\n\n    const gap = 10;\n    const vw = window.innerWidth;\n    const vh = window.innerHeight;\n\n    const tipW = Math.min(520, Math.floor(vw * 0.86));\n    portalTip.style.width = tipW + 'px';\n\n    portalTip.style.left = '0px';\n    portalTip.style.top = '0px';\n    portalTip.classList.add('show');\n\n    const tipRect = portalTip.getBoundingClientRect();\n    const tipH = tipRect.height;\n\n    let left = rect.left;\n    left = Math.max(8, Math.min(left, vw - tipW - 8));\n\n    let top = rect.bottom + gap;\n    if (top + tipH > vh - 8) {\n      top = rect.top - gap - tipH;\n      top = Math.max(8, top);\n    }\n\n    portalTip.style.left = left + 'px';\n    portalTip.style.top = top + 'px';\n  }\n\n  function bindPostHoverHighlightsAndTooltip(selectedSet, storeById){\n    const wrap = document.getElementById('wrap');\n\n    wrap.onmouseover = (ev) => {\n      const el = ev.target.closest('.item[data-post-id]');\n      if (!el) return;\n      const pid = el.getAttribute('data-post-id');\n      if (!pid) return;\n\n      const sel = '.item[data-post-id=\"'+CSS.escape(pid)+'\"]';\n      for (const same of wrap.querySelectorAll(sel)) same.classList.add('pid-hover');\n\n      cancelHideTip();\n      const idsJson = el.getAttribute('data-store-ids') || '[]';\n      let ids = [];\n      try { ids = JSON.parse(idsJson); } catch(e) { ids = []; }\n      const shownIds = (Array.isArray(ids) ? ids : []).map(Number).filter(id => selectedSet.has(id));\n      const storeNamesArr = shownIds.map(id => storeById.get(id)?.name || ('#' + id));\n      showPortalTipForItem(el, storeNamesArr);\n    };\n\n    wrap.onmouseout = (ev) => {\n      const el = ev.target.closest('.item[data-post-id]');\n      if (!el) return;\n      const pid = el.getAttribute('data-post-id');\n      if (!pid) return;\n\n      const sel = '.item[data-post-id=\"'+CSS.escape(pid)+'\"]';\n      for (const same of wrap.querySelectorAll(sel)) same.classList.remove('pid-hover');\n\n      scheduleHideTip();\n    };\n\n    wrap.onclick = (ev) => {\n      const el = ev.target.closest('.item[data-post-id]');\n      if (!el) return;\n      const pid = el.getAttribute('data-post-id');\n      if (!pid) return;\n\n      const title = el.getAttribute('data-title') || ('#' + pid);\n      const localdt = el.getAttribute('data-localdt') || '';\n      showPreview(pid, title, localdt);\n    };\n\n    window.addEventListener('scroll', () => hidePortalTip(), true);\n    window.addEventListener('resize', () => hidePortalTip());\n  }\n\n  function showPreview(pid, title, localdt){\n    const p = postsCatalog[String(pid)] || postsCatalog[String(Number(pid))];\n\n    mSub.textContent = (title ? title : ('#' + pid)) + ' · #' + pid;\n    mTime.textContent = localdt || '—';\n\n    mErr.style.display = 'none';\n    mErr.textContent = '';\n\n    if (!p) {\n      mText.textContent = 'Нет данных поста в posts_catalog для post_id=' + pid + '.\\\\n\\\\nПроверь, что Build Content Plan пишет posts_catalog в content-plan.json.';\n      mMedia.style.display = 'none';\n      mMedia.innerHTML = '';\n      openModal();\n      return;\n    }\n\n    mText.textContent = formatTextByParseMode(p.text, p.parse_mode);\n\n    const media = parseMediaLines(p.media_url);\n    mMedia.innerHTML = '';\n    if (!media.length){\n      mMedia.style.display = 'none';\n    } else {\n      mMedia.style.display = 'grid';\n      mMedia.className = 'tgMedia ' + (media.length === 1 ? 'one' : 'grid');\n\n      const show = media;\n      for (const m of show) {\n        const box = document.createElement('div');\n        box.className = 'tgMediaItem';\n\n        const badge = document.createElement('div');\n        badge.className = 'tgBadge';\n        badge.textContent = (m.type === 'video') ? 'Видео' : 'Фото';\n        box.appendChild(badge);\n\n        if (m.type === 'video') {\n          const v = document.createElement('video');\n          v.src = m.url;\n          v.controls = true;\n          v.preload = 'metadata';\n          box.appendChild(v);\n        } else {\n          const img = document.createElement('img');\n          img.src = m.url;\n          img.loading = 'lazy';\n          img.alt = '';\n          box.appendChild(img);\n        }\n\n        mMedia.appendChild(box);\n      }\n    }\n\n    openModal();\n  }\n\n  function render(){\n    const region = Number(regionSel.value);\n    const startYmd = startInput.value || todayYmd;\n\n    let period = Number(periodSel.value || 14);\n    if (!period || period < 1) period = 1;\n    if (period > 14) period = 14;\n\n    const endYmd = addDaysLocal(startYmd, period - 1);\n\n    const colDates = [];\n    for (let i = 0; i < period; i++) colDates.push(addDaysLocal(startYmd, i));\n\n    const selectedStoreIds = getSelectedStoreIds();\n    const selectedSet = new Set(selectedStoreIds);\n\n    const items = itemsAll\n      .filter(it => Number(it.region) === region)\n      .map(it => {\n        const ymd = getItemDateYmd(it);\n        const hhmm = getItemTimeHHMM(it);\n        return { ...it, _ymd: ymd, _hhmm: hhmm };\n      })\n      .filter(it =>\n        it._ymd && it._hhmm &&\n        it._ymd >= startYmd && it._ymd <= endYmd &&\n        (selectedSet.size > 0 ? intersectStoreIds(it.store_ids, selectedSet) : false)\n      );\n\n    const times = Array.from(new Set(items.map(x => x._hhmm))).sort();\n\n    const map = {};\n    for (const t of times) {\n      map[t] = {};\n      for (const d of colDates) map[t][d] = [];\n    }\n\n    for (const it of items) {\n      if (map[it._hhmm] && map[it._hhmm][it._ymd]) {\n        map[it._hhmm][it._ymd].push(it);\n      }\n    }\n\n    for (const t of times) {\n      for (const d of colDates) {\n        map[t][d].sort((a,b) => Number(a.post_id||0) - Number(b.post_id||0));\n      }\n    }\n\n    const headCols = colDates.map(d => {\n      const dow = dowRuFromYmd(d);\n      const dateLabel = ddmm(d);\n      return '<th><div class=\"colHead\"><div class=\"colDow\">'+dow+'</div><div class=\"colDate\">'+dateLabel+'</div></div></th>';\n    }).join('');\n\n    const bodyRows = times.map(t => {\n      const cols = colDates.map(d => {\n        const arr = map[t][d] || [];\n        if (!arr.length) return '<td></td>';\n\n        return '<td>' + arr.map(x => {\n          const title = escapeHtml(x.title ?? '');\n          const pid = String(x.post_id ?? x.id ?? '');\n          const pidEsc = escapeHtml(pid);\n          const localdt = escapeHtml(x.local_dt ?? (x._ymd + ' ' + (x.local_time || (t+':00'))) );\n\n          const ids = Array.isArray(x.store_ids) ? x.store_ids.map(Number) : [];\n          const shownIds = ids.filter(id => selectedSet.has(id));\n          const countStores = shownIds.length;\n\n          const hue = hueFromPostId(pid);\n\n          const isOnce = (x && (x.kind === 'once' || x.source === 'publish_at' || x.is_once === true || x._kind === 'once'));\n          const chipClass = 'itemChip' + (isOnce ? ' once' : '');\n          const chipText = (isOnce ? 'Разовый · ' : '') + countStores + ' пункт(ов)';\n\n          return '<div class=\"item pid-colored\" data-post-id=\"'+pidEsc+'\" data-title=\"'+title+'\" data-localdt=\"'+localdt+'\" data-store-ids=\"'+escapeHtml(JSON.stringify(ids))+'\" style=\"--pid-h:'+hue+'\">' +\n            '<div class=\"itemTitle\">' + title + '</div>' +\n            '<div class=\"itemMeta\">#' + pidEsc + ' · ' + localdt + '</div>' +\n            '<div class=\"'+chipClass+'\">' + chipText + '</div>' +\n          '</div>';\n        }).join('') + '</td>';\n      }).join('');\n\n      return '<tr><td class=\"time\">' + t + '</td>' + cols + '</tr>';\n    }).join('');\n\n    const summary = '<div class=\"muted\" style=\"margin:8px 0 10px 0;\">Период: ' +\n      ddmmyyyy(startYmd) + ' — ' + ddmmyyyy(endYmd) +\n      ' · колонки: ' + period +\n      ' · выбрано пунктов: ' + selectedStoreIds.length +\n      '</div>';\n\n    if (selectedStoreIds.length === 0) {\n      document.getElementById('wrap').innerHTML =\n        summary + '<div class=\"error\">Выберите хотя бы один пункт выдачи.</div>';\n      hidePortalTip();\n      return;\n    }\n    if (!times.length) {\n      document.getElementById('wrap').innerHTML =\n        summary + '<div class=\"error\">Нет событий в выбранном периоде/регионе/пунктах.</div>';\n      hidePortalTip();\n      return;\n    }\n\n    const tableHtml =\n      '<div class=\"tableWrap\">' +\n        '<table>' +\n          '<thead><tr><th>Время</th>' + headCols + '</tr></thead>' +\n          '<tbody>' + (bodyRows || '') + '</tbody>' +\n        '</table>' +\n      '</div>';\n\n    \n    // --- Mobile accordion by days ---\n    const mobileHtml =\n      '<div class=\"mobileAcc\">' +\n        colDates.map(d => {\n          const dow = dowRuFromYmd(d);\n          const dateLabel = ddmm(d);\n\n          // collect times with items for this day\n          const dayTimes = times.filter(t => (map[t] && map[t][d] && map[t][d].length));\n          if (!dayTimes.length) return '';\n\n          const timeBlocks = dayTimes.map(t => {\n            const arr = map[t][d] || [];\n            const itemsHtml = arr.map(x => {\n              const title = escapeHtml(x.title ?? '');\n              const pid = String(x.post_id ?? x.id ?? '');\n              const pidEsc = escapeHtml(pid);\n              const localdt = escapeHtml(x.local_dt ?? (x._ymd + ' ' + (x.local_time || (t+':00'))) );\n\n              const ids = Array.isArray(x.store_ids) ? x.store_ids.map(Number) : [];\n              const shownIds = ids.filter(id => selectedSet.has(id));\n              const countStores = shownIds.length;\n\n              const hue = hueFromPostId(pid);\n\n              const isOnce = (x && (x.kind === 'once' || x.source === 'publish_at' || x.is_once === true || x._kind === 'once'));\n              const chipClass = 'itemChip' + (isOnce ? ' once' : '');\n              const chipText = (isOnce ? 'Разовый · ' : '') + countStores + ' пункт(ов)';\n\n              return '<div class=\"item pid-colored\" data-post-id=\"'+pidEsc+'\" data-title=\"'+title+'\" data-localdt=\"'+localdt+'\" data-store-ids=\"'+escapeHtml(JSON.stringify(ids))+'\" style=\"--pid-h:'+hue+'\">' +\n                '<div class=\"itemTitle\">' + title + '</div>' +\n                '<div class=\"itemMeta\">#' + pidEsc + ' · ' + localdt + '</div>' +\n                '<div class=\"'+chipClass+'\">' + chipText + '</div>' +\n              '</div>';\n            }).join('');\n\n            return '<div class=\"accTime\">' +\n              '<div class=\"accTimeHead\">' + t + '</div>' +\n              '<div class=\"accItems\">' + (itemsHtml || '') + '</div>' +\n            '</div>';\n          }).join('');\n\n          const openClass = (d === startYmd) ? ' open' : '';\n          return '<div class=\"accDay'+openClass+'\" data-day=\"'+escapeHtml(d)+'\">' +\n            '<div class=\"accHead\" role=\"button\" tabindex=\"0\" aria-expanded=\"'+(d===startYmd ? 'true' : 'false')+'\">' +\n              '<div class=\"accHeadLeft\">' +\n                '<div class=\"accDow\">'+dow+'</div>' +\n                '<div class=\"accDate\">'+dateLabel+'</div>' +\n              '</div>' +\n              '<div class=\"accChevron\" aria-hidden=\"true\">▾</div>' +\n            '</div>' +\n            '<div class=\"accBody\">' + (timeBlocks || '') + '</div>' +\n          '</div>';\n        }).join('') +\n      '</div>';\n\n    const wrapEl = document.getElementById('wrap');\n    const isMobile = window.matchMedia && window.matchMedia('(max-width: 900px)').matches;\n\n    wrapEl.innerHTML = summary + (isMobile ? mobileHtml : tableHtml);\n\n    // accordion interactions (mobile)\n    if (isMobile) {\n      const toggle = (dayEl) => {\n        const isOpen = dayEl.classList.toggle('open');\n        const head = dayEl.querySelector('.accHead');\n        if (head) head.setAttribute('aria-expanded', isOpen ? 'true' : 'false');\n      };\n\n      for (const head of wrapEl.querySelectorAll('.accHead')) {\n        head.addEventListener('click', () => {\n          const dayEl = head.closest('.accDay');\n          if (dayEl) toggle(dayEl);\n        });\n        head.addEventListener('keydown', (e) => {\n          if (e.key === 'Enter' || e.key === ' ') {\n            e.preventDefault();\n            const dayEl = head.closest('.accDay');\n            if (dayEl) toggle(dayEl);\n          }\n        });\n      }\n    }\n\n    bindPostHoverHighlightsAndTooltip(selectedSet, storeById);\n}\n\n  rebuildStoresUI();\n  render();\n\n  // Re-render on breakpoint change (desktop <-> mobile) to switch table/accordion\n  if (window.matchMedia) {\n    const mq = window.matchMedia('(max-width: 900px)');\n    const onMq = () => { try { render(); } catch(e){} };\n    if (typeof mq.addEventListener === 'function') mq.addEventListener('change', onMq);\n    else if (typeof mq.addListener === 'function') mq.addListener(onMq);\n  }\n})();\n</script>\n\n</body>\n</html>`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4528,1584],"id":"6280e6fc-5e52-4aab-8fd9-12ba4f2241cd","name":"Build HTML"},{"parameters":{"operation":"write","fileName":"/data/smmcontent/index.html","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[5040,1584],"id":"2d335b01-3686-4865-8f56-29b8bb50743c","name":"Read/Write Files from Disk1"},{"parameters":{"jsCode":"const html = $json.html;\n\nconst buffer = Buffer.from(html, 'utf8');\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: buffer,\n        mimeType: 'text/html',\n        fileName: 'index.html',\n      },\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4768,1584],"id":"99ebb400-130f-41e6-bca6-62c669e4c825","name":"Code (Text → Binary)","onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"PG Stores","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Barrier: Posts + Stores","type":"main","index":0}]]},"Build Content Plan":{"main":[[{"node":"Convert to File","type":"main","index":0},{"node":"Build HTML","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"PG Stores":{"main":[[{"node":"Barrier: Posts + Stores","type":"main","index":1}]]},"Barrier: Posts + Stores":{"main":[[{"node":"Build Content Plan","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"PG Stores","type":"main","index":0}]]},"Build HTML":{"main":[[{"node":"Code (Text → Binary)","type":"main","index":0}]]},"Code (Text → Binary)":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d2dfc90f-bc61-4a5f-a9ea-a5e5ab8e9f4c","activeVersionId":"d2dfc90f-bc61-4a5f-a9ea-a5e5ab8e9f4c","versionCounter":31,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-17T15:57:41.916Z","createdAt":"2026-01-17T15:57:41.916Z","role":"workflow:owner","workflowId":"nYtWLQMPCPdUAsaT","projectId":"pN1dQC2QTiUB8OxN","project":{"updatedAt":"2026-01-03T09:50:23.589Z","createdAt":"2026-01-02T11:57:57.457Z","id":"pN1dQC2QTiUB8OxN","name":"Ilya Sukharev <retail.sukharev@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"a8327288-747a-47c3-9f5f-b2070eff6d8c"}}]}